@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation

@inject IJSRuntime JSRuntime

<div class="d-flex flex-column min-vh-100">
@* <div class="page"> *@
   @* <div class="sidebar">
        <NavMenu /> 
    </div> *@

    <main class="flex-grow-3">
        <article class="content px-4 mb-5">
            @Body
            <!-- Mobile Footer Navigation -->
        </article>
       
    </main>
    <Footer />
</div>
