@page "/media"

<div class="container py-4 text-center">
    <h2 class="mb-4">Connect with BAFA</h2>
    <div class="d-flex flex-wrap justify-content-center gap-4">
        <a href="https://www.instagram.com/bafaalbany/" target="_blank" rel="noopener" class="text-decoration-none text-dark">
            <span style="font-size:2.5rem;"><i class="bi bi-instagram"></i></span>
            <div>Instagram</div>
        </a>
        <a href="https://www.facebook.com/BAFAAlbany" target="_blank" rel="noopener" class="text-decoration-none text-dark">
            <span style="font-size:2.5rem;"><i class="bi bi-facebook"></i></span>
            <div>Facebook</div>
        </a>
        <a href="https://x.com/AlbanyBafa" target="_blank" rel="noopener" class="text-decoration-none text-dark">
            <span style="font-size:2.5rem;"><i class="bi bi-twitter-x"></i></span>
            <div>X (Twitter)</div>
        </a>
        <a href="https://studio.youtube.com/channel/UCj6_bFwMSCYHCyKL-WgU7Sw/videos/upload" target="_blank" rel="noopener" class="text-decoration-none text-dark">
            <span style="font-size:2.5rem;"><i class="bi bi-youtube"></i></span>
            <div>YouTube</div>
        </a>
        <a href="http://smile.amazon.com/gp/ch/list/47-5660177" target="_blank" rel="noopener" class="text-decoration-none text-dark">
            <span style="font-size:2.5rem;"><i class="bi bi-shop"></i></span>
            <div>Amazon Smile</div>
        </a>
    </div>
</div>

@* Make sure Bootstrap Icons are included in your project *@ 